<div class="container p-4">
    <div class="m-1">
        <a class="btn btn-outline-success btn-block" href="#">Agregar correo</a>
    </div>
    <div class="row">
        {{#each emails}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="shadow  card-body">
                    <p class="p-3 mb-2 bg-success text-white text-uppercase font-weight-light">{{fullName}}</p>
                    <p class="text-muted">{{email}}</p>
                    <p class="text-muted">{{code}}</p>
                    
                    <a class="btn btn-danger" href="/deleteClientEmail/{{email}}/{{code}}">
                        Eliminar
                    </a>
                </div>
            </div>
        </div>

        {{/each}}
    </div>
</div>