<div class="container p-4">
    <div class="m-1">
        <a class="btn btn-outline-success btn-block" href="/addBranchOffice">Agregar sucursal</a>
    </div>

    <div class="row">
        {{#each branchOffices}}
        <div class="col-md-3">
            <div class="shadow card text-center">
                <div class="card-body">
                    <p class="p-3 mb-2 bg-success text-white text-uppercase font-weight-light">Nombre sucursal: {{name}}
                    </p>
                    <p class="text-muted">Codigo de la sucursal: {{branchCode}}</p>
                    <p class="m-2">Direccion: {{direction}}</p>
                    <p class="text-muted">Codigo del cliente: {{clientCode}}</p>
                    <p class="p-3 mb-2 bg-warning text-dark">Cliente: {{fullName}}</p>


                    <a class="btn btn-danger" href="/deleteBranchOffice/{{branchCode}}">
                        Eliminar
                    </a>

                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>